<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - To-Do App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="scripts/login.js"></script>
    <style>
        .bg-custom-gradi { background: linear-gradient(to right bottom, #ad0cd0, #9805d0, #8104cf, #6507cf, #410dce); }
        .bg-custom-gradi:hover { background: linear-gradient(to right bottom, #b33fd5, #a335d5, #8f2fd4, #752fd3, #5235d2); }
        .bg-custom-purple { background-color: #8e44ab; }
        .text-gradient { background: linear-gradient(to right bottom, #ad0cd0, #9805d0, #8104cf, #6507cf, #410dce); background-clip: text; -webkit-text-fill-color: transparent;}
    </style>
</head>

<body class="bg-dark text-light min-vh-100">

    <div id="okToast" class="toast bg-light text-dark" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-light">
            <strong class="me-auto">Success</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body"></div>
    </div>

    <div id="errorToast" class="toast bg-light text-dark" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger text-light">
            <strong class="me-auto">Error</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body"></div>
    </div>

    <div class="vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="fw-bold mb-4 text-uppercase text-gradient">
            To-Do App
        </h1>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="card bg-white">
                        <div class="bg-dark card-body text-light p-5">
                            <form class="mb-3 mt-md-4">
                                <h2 class="fw-bold mb-2 text-uppercase">
                                    Login
                                </h2>
                                <p class="mb-2">
                                    Please enter your login and password!
                                </p>
                                <div class="mb-3">
                                    <label class="form-label">Username</label>
                                    <input type="text" class="form-control" required="true" id="username" />
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" placeholder="*******" required="true"
                                        id="password" />
                                </div>
                                <div class="d-grid">
                                    <button type="button" id="requestBtn" class="btn bg-custom-gradi text-light"
                                        onclick="login()">
                                        Login
                                    </button>
                                </div>
                            </form>
                            <div>
                                <p class="mb-0 text-center">
                                    Don't have an account?
                                    <a href="signup.html" class="text-primary fw-bold">Sign Up</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>